.TopNav{
    -fx-background-color: rgba(60, 57, 77, 1);
}

.TopNavCat{
    -fx-background-color: rgba(44, 42, 57, 1);
}

.Background{
    -fx-background-color: rgba(254, 237, 230, 1);
}

.BackgroundCard{
    -fx-background-color: rgba(248, 248, 248, 1);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 2);
}

.ButtonBeli{
    -fx-background-color: rgba(60, 57, 77, 1);
    -fx-border-color: TRANSPARENT TRANSPARENT #000000 TRANSPARENT;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.ButtonHubung{
    -fx-background-color: TRANSPARENT;
    -fx-border-color: black;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.imageBackground{
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-background-color: #e0e0e0;
}
